.baseline {

}

.baseline__name {
  word-break: break-word;
}

.baseline__image {
  @include plain-link;
  display: block;

  img {
    box-sizing: border-box;
    display: block;
    border: 3px solid colour('light-grey');
    width: 300px
  }
}
