.baseline {

}

.baseline__name {
  word-break: break-word;
}

.baseline__image {
  @include plain-link;
  display: inline-block;
  width: 100%;

  img {
    display: block;
    border: 3px solid colour('light-grey');
  }
}
