.test {

}

.test__name {
  word-break: break-word;
}

.test__image {
  @include plain-link;
  display: inline-block;
  width: 100%;

  img {
    display: block;
    border: 3px solid colour('light-grey');
  }
}

.test__set-baseline {
  margin-top: 5px;
}
