.test {

}

.test__name {
  word-break: break-word;
}

.test__image {
  @include plain-link;
  display: block;

  img {
    box-sizing: border-box;
    display: block;
    border: 3px solid colour('light-grey');
    width: 300px
  }
}

.test__set-baseline {
  margin-top: 5px;
}
